.b-card-plan {
  &__header {
    margin-bottom: rem(60px);
    text-align: center;
  }

  &__title {
    font-weight: font-weight('medium');
  }

  &__subtitle {
    color: css-color('dark-light');
    margin: 0 auto;
    margin-top: rem(20px);
    max-width: rem(555px);
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: rem(40px) 0;
    justify-content: center;
  }
}
