.b-features {
  padding: rem(60px) 0 rem(60px);

  @include media-breakpoint-up(md) {
    padding: rem(95.8px) 0 rem(131.19px);
  }

  &__body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: rem(40px) rem(169.48px);
  }

  &__content {
    max-width: rem(427px);
  }

  &__picture {
    height: auto;
    overflow: hidden;
    width: rem(508.12px);

    img {
      @include image-size;
    }
  }

  &__subtitle {
    color: color('dark-light');
  }

  &__items {
    @include list-unstyled;
  }

  &__item {
    .c-icon {
      height: rem(24px);
      width: rem(24px);
    }
  }
}
